<table>
  <tr>
    <th>
      Color - Year
    </th>
    <th>
      Make/ Model
    </th>
    <th>
      Price in $
    </th>
    <th></th>
  </tr>
  {{#guitars}}
    <tr>
      <td>{{color}} - {{year}}</td>
      <td><a href="/form?id={{_id}}">{{make}} - {{model}} </a></td>
      <td>{{price}}</td>
      <td><a href="/remove/?id={{_id}}">Remove</a></td>
    </tr>
  {{/guitars}}

</table>
